.center-nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .navbar {
    flex-direction: column;
    text-align: center;
  }
  